@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.annonce{
    display: inline-block;
    color: #000;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
    width: 350px;
    font-size: 14px;
    height: 300px;
    outline: 4px solid #000;
    @include mobile() {
      width: 95%
    }
  }


.titreAnnonce{
  color: #000;
  height: auto;
  margin:10px 5px 2px;
  width:95%;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.keyWords{
  margin: 2px 5px 2px
}

.AnnonceAuthor{
  display: inline-block;
  margin-left: 10px;
  color: #000;
  margin-top: 5px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;
}

.TypeDeService{
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;

}

.CategorieDuService{
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;
}

.contenuAnnonce{
  color: #000;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 20px;
  margin-right: 10px;
  height: 40%;
  width: 100%;
  overflow:hidden;
}

.contacterAuteur{
  display: inline-block;
  color: #000;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 4px solid #000;
  text-decoration: none;
}
.contacterAuteur:hover{
  background: #fff27f;
}

.signalerAnnonce{
  display: inline-block;
  color: #000;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 4px solid #860000;
}

.RegionDuService{
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;
}
