@mixin verySmallwidth {
  @media screen and (max-width: 280px) {
    @content;
  }
}
@mixin Smallwidth {
  @media screen and (max-width: 340px) {
    @content;
  }
}

@mixin max-377px {
  @media screen and (max-width: 377px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.annonce{
    display: inline-block;
    position:relative;
    color: #000;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3%;
    background: #fff;
    padding: 5px;
    width: 350px;
    font-size: 14px;
    height: 200px;
    max-height: 300px;
    max-width: 90vw;
    outline: 4px solid #000;
    @include max-377px() {
      width: 95%
    }
  }

  .annonce:hover{
    cursor: pointer;
  }
  .annonceHeader{
    display: flex;
    .UserImageAnnonce{
      width:35px;
      height:35px;
      border-radius: 50px;
      margin-left: 5px;
      margin-top: 5px;
      
    }
    .nameOfAuthorAd{
        margin-top: 15px;
        margin-left: 10px;
        font-weight: 700;
    }
    .timeOfPublishingAd{
      margin-top: 15px;
        margin-left: 3px;
    }
  }
  

  .priceDisplay{
    position: absolute;
    bottom: 15px;
    padding-left: 10px;
    color: #860000;
    font-weight: bold;
  }
  
  .RegionDuService{
    display: inline-block;
    color: #000;
    margin-top: 5px;
    border-radius: 30px;
    background: #fff;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:fit-content;
    font-weight: bold;
    outline: 2px solid #000;
  }
  
  


.titreAnnonce{
  color: #000;
  height: fit-content;
  margin:10px 5px 2px;
  width:95%;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include Smallwidth() {
    font-size: 6vw;
  }

}

.keyWords{
  margin: 2px 0px 2px;
  padding-left: 5px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  max-height: 65px;
  overflow: hidden;
  font-size: 0.6rem;
  @include verySmallwidth() {
    font-size: 5vw;
  }
}

.AnnonceAuthor{
  display: inline-block;
  margin-right: 5px;
  color: #000;
  margin-top: 5px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;
}

.TypeDeService{
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;

}

.CategorieDuService{
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 30px;
  background: #fff;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:fit-content;
  font-weight: bold;
  outline: 2px solid #000;
}

.contenuAnnonce{
  color: #000;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 20px;
  margin-right: 10px;
  height:1rem;
  max-height: 22%;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
