@mixin tablet-min {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

h1{
    font-size: 1rem;
}

h3{
    font-size: 2rem;
    text-align: center;
}

.bold{
    font-size: 1rem;
    font-weight: bold;
}

.profilePageContainer{
    padding-left: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.profileInfosContainer{
    max-width:370px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.changePhotoText{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

.bioContainer{
    display: flex;
    .changeBioIcon{
        margin-top: 10px;
        margin-left: 10px;
    }
    
}
.bioContent{
    width: 400px;
    max-width: 95vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ratingInfo{
    display: flex;
    margin-bottom: 5px;
    
    .starIcon{
        size:20; 
        color: gold;
        margin-right: 10px;
    }
    .ratingContent{
        margin-left: 10px;
    }
}

.tasksDoneInfo{
    display: flex;
    margin-bottom: 5px;
    .taskIcon{
        size:20; 
        color: black;
        margin-right: 10px;
    }
    .tasksDoneContent{
        margin-left: 10px;
    }
}

.drivingPermitInfo{
    display: flex;
    margin-bottom: 5px;
    .drivingPermitIcon{
        size:20; 
        color: black;
        margin-right: 10px;
    }
    .drivingPermitContent{
        margin-left: 10px;
    }
}

.carInfo{
    display: flex;
    margin-bottom: 5px;
    .carIcon{
        size:20; 
        color: black;
        margin-right: 10px;
    }
    .carInfoContent{
        margin-left: 10px;
    }
}

.toolsInfo{
    display: flex;
    margin-bottom: 5px;
    .toolsIcon{
        size:20; 
        color: black;
        margin-right: 10px;
    }
    .toolsInfoContent{
        margin-left: 10px;
    }
}

.nameInfo{
    display: flex;
    margin-bottom: 5px;
    .nameInfoContent{
        margin-left: 10px;
    }
}

.firstNameInfo{
    display: flex;
    margin-bottom: 5px;
    .firstNameInfoContent{
        margin-left: 10px;
    }
}

.displayNameInfo{
    display: flex;
    margin-bottom: 5px;
    .displayNameInfoContent{
        margin-left: 10px;
    }
}

.emailInfo{
    display: flex;
    margin-bottom: 5px;
    .emailInfoContent{
        margin-left: 10px;
    }
}