@mixin tablet-min {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    font-size: 1rem;
}

h3{
    font-size: 2rem;
    text-align: center;
}

.bold{
    font-size: 1rem;
    font-weight: bold;
}

.profilePageContainer{
    padding-left: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.profileInfosContainer{
    max-width:370px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.changePhotoText{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

.bioContainer{
    display: flex;
    .changeBioIcon{
        margin-top: 10px;
        margin-left: 10px;
    }
    
}
.bioContent{
    width: 400px;
    max-width: 95vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
