*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

.main{
  display: flex;
  height: 100vh;
}


.container{
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.HomeHeader{
  color: #000;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: #000;
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}
.loginPage{
  color: #000;
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.filterBar{
  display: inline-block;
  margin-right: 10px;
  color: #000
}

.logInStatus {
  float: right;
  display: flex;
  justify-content: space-between; /* Horizontal spacing */
  align-items: center; /* Vertical centering */
  margin-right: 30px; /* Adjust the margin as needed */
  margin-top: 4px;
  text-decoration: none;
}

.circle-container {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  width: 60px; /* Set the width and height to create a circular shape */
  height: 60px;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflowing content */
  border: 2px solid #fff; /* Add a border to the circle if desired */
}

.profile-image {
  width: 100%; /* Make the image fill the circle */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the circle */
  border-radius: 50%; /* Ensure the image is also circular */
}

.logInLogoutBtn {
}