*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

.main{
  display: flex;
  height: 100vh;
}


.container{
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.HomeHeader{
  color: #000;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: #000;
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}
.loginPage{
  color: #000;
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.filterBar{
  display: inline-block;
  margin-right: 10px;
  color: #000
}

.logInStatus{
  text-align: right;
  margin-left: 90%;
  width: fit-content;
}