*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  height: 100vh;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

.home{
  text-align: center;
}


.container{
  background-color: #fff;
  width: 100vw;
  padding-left: 5px;
  padding-right: 5px; 
}
.HomeHeader{
  width: auto;
  color: #000;
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.title{
  font-size: 3em;
}

.inlineblocks{
  display: block;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: #000;
}
.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}
.loginPage{
  color: #000;
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.filterBar{
  margin-top: 15px;
  padding: 5px 10px;
  display: flex;
  margin-right: 60px;
  color: #000;
  font-size: 16px;
  justify-content: center;
  text-align: center;
}


.logoTopLeft{
  display: inline-block;
  width: 65px;
  height: 65px;
  padding-top: 10px;
}

.topbar {
  display: inline-block;
  width: fit-content;
  max-width: 65%;
  background-color: #fff;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.topbarItem{
  display: inline-block;
  padding: 5px;
  width: fit-content;
  border-radius: 20%;
}

.topbarItem:hover{
  background-color: #fff;
  outline: #720f0f solid 2px;
}

a:visited {
  color: inherit; /* or any other color value */
}
a {
  text-decoration: none; /* Remove underline if not needed */
}

.banner{
  width: 100%
}

.banner-image {
  width: 100vw;
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Ensure the image does not exceed its container's height */
  margin-top: 14px;
}
.addNewAdButton{
  display: flex;
  margin-left: 40%;
  font-weight: bold;
  margin-top: 20px;
  width: fit-content;
  outline: 3px solid #000;
  border-radius: 20%;
  padding: 10px
}
.addNewAdButton:hover{
  background-color: #720f0f;
}
.circle-container {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  outline: 3px solid #000;
}

.messageToLogin{
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.nameDisplay{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2px;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 0.8rem;
}

.profile-image {
  width: 100%; /* Make the image fill the circle */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the circle */
  border-radius: 50%; /* Ensure the image is also circular */
}

.UsernameAndButton {
  display: block;
}

.login-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #fa7474;
  color: white;
}

.websiteHeader{
  display: table;
  width: 100vw;
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
}